.header {
    background-color: #34495e;
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: centers;
}
nav {

    padding: 10px;
}

nav ul {
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #1abc9c;
}
